.App {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}


/* .App:-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
} */