.surveyFormContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

.surveyFormHeader {
    font-weight: 600;
    font-size: 30px;
    color: #ef7917;
}

.surveyForm {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 300px;
    margin: auto;
    /* margin-top: 50px; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.closeFormBtn {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    overflow: hidden;
    outline: none;
    border: 0;
    cursor: pointer;
    /* background-color: rgb(227, 195, 145); */
}

.closeFormBtn img {
    height: 100%;
    width: 100%;
}

.field {
    width: 100%;
}

.field input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
}

.field input:focus {
    outline: none;
}

.field button {
    width: 100%;
    margin-top: 20px;
    background: #ef7917;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    padding: 9px;
    border: none;
    outline: none;
}

.field button:hover {
    cursor: pointer;
}

.field button:disabled {
    cursor: not-allowed;
}